<div class="conatiner">
  <div class="row">
    <div class="col-sm-4">
      <h1>Customer Record App</h1>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a
            routerLink="customers"
            class="btn btn-light btn-sm"
            role="button"
            routerLinkActive="active"
            >Retrieve</a>
        </li>
        <li class="nav-item">
          <a
            routerLink="customer/add"
            class="btn btn-light btn-sm"
            role="button"
            routerLinkActive="active"
            >Create</a>
        </li>
        <hr>
        <router-outlet></router-outlet>
      </ul>
    </div>
  </div>
</div>
